<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <h1> Recherchez et supprimez le Rendezvous</h1>
  <body>
  <nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <form class="row g-3" method="post" th:object="${rendezvous}" th:action="@{/update2}">
      <input type="text" class="form-control" id="inputfid" th:field="${rendezvous.id}"></input>
      <button type="submit" class="btn btn-primary">Search in</button>
    </form>
  </div>
</nav>
 
        </tbody>
    </table>
</div>    
  
  </html>

